---
import Index from "@layouts/IndexPage.astro";
---

<Index
  featured="À la une"
  recentPosts="Articles récents"
  allPosts="Tous les articles"
  socialLinks="Liens Sociaux"
>
  <div slot="description">
    <p>TODO</p>
  </div>
</Index>
