---
import LinkButton from "@components/LinkButton.astro";
import Index from "@layouts/IndexPage.astro";
---

<Index
  featured="Featured"
  recentPosts="Recent Posts"
  allPosts="All Posts"
  socialLinks="Social Links"
>
  <div slot="description">
    <p>
      AstroPaper is a minimal, responsive, accessible and SEO-friendly Astro
      blog theme. This theme follows best practices and provides accessibility
      out of the box. Light and dark mode are supported by default. Moreover,
      additional color schemes can also be configured.
    </p>
    <p>
      Read the blog posts or check
      <LinkButton
        className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
        href="https://github.com/satnaing/astro-paper#readme"
      >
        README
      </LinkButton> for more info.
    </p>
  </div>
</Index>
